build
target
**/*.iml
**/*.tmp
.idea
.gradle
*/target/**
*/build/**
**/*.log
**/.settings
**/.classpath
**/.project
**/*.class
**/bin
**/lib
**/src/main/generated
**/node_modules/*
.DS_Store
target
/.apt_generated/
src/main/resources/static/node_modules
src/main/resources/static/bower_components
src/main/resources/static/old
src/main/resources/static/ts
